streamlit
groq
openai
sympy
easyocr
pillow
opencv-python-headless
sentence-transformers
chromadb
numpy
pandas
python-dotenv
requests
loguru
matplotlib
pix2tex
google-generativeai
huggingface-hub
ollama
langchain